main {
    padding: 30px;
    background: linear-gradient(to bottom right,#3F92BF, #FFFFFF);
}

#functionalBlock {
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

.functionalImg {
    width: 120px;
    height: 120px;
}

.functionalButton {
    border-radius: 8px;
    margin : 0 20px;
    background-color: white;
}

#allAboutHero {
    display: flex;
    justify-content: center;
}

.aboutHero {
    margin: 15px;
    min-width: 25%;
    height: 300px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

ul {
    text-align: left;
}

.infoDetailed {
    line-height: 2rem;
    letter-spacing: 1.5;
}

#infoName, #enemyName {
    font-family: 'Barriecito', cursive, 'DM Serif Display', serif;
}

#attackButtons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.enemyButtons {
    height: 35px;
    border-radius: 8px;
    margin : 0 20px;
    font-size: 25px;
}

#attackEnemyButton {
    background-color: red;
    color: white;
}

#enemy-photo {
    max-width: 300px;
    max-height: 300px;
}