main {
    padding: 30px;
    background: linear-gradient(to bottom right,#3F92BF, #FFFFFF);
}

#functionalBlock {
    display: flex;
    flex-direction: column;
    column-count: 2;
}

.functionalImg {
    width: 100px;
    height: 100px;
}

.functionalButton {
    border-radius: 8px;
    margin : 4px 20px;
    background-color: white;
    max-height: 110px;
    max-width: 110px;
}

#allAboutHero {
    display: flex;
    justify-content: center;
}

.aboutHero {
    margin: 0 15px;
    min-width: 25%;
    height: 300px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
}

ul {
    text-align: left;
}

.infoDetailed {
    line-height: 2rem;
    letter-spacing: 1.5;
}

#nameNewForm {
    font-size: 22px;
    font-weight: bold;
}

#submitNewName {
    height: 30px;
    font-size: 20px;
}

#infoName, #enemyName {
    font-family: 'Barriecito', cursive, 'DM Serif Display', serif;
}

#attackButtons {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.enemyButtons {
    height: 35px;
    border-radius: 8px;
    margin : 0 20px;
    font-size: 25px;
}

#attackEnemyButton {
    background-color: red;
    color: white;
}

#enemy-photo {
    max-width: 300px;
    max-height: 300px;
}